body{
    background-color: gainsboro;
}

nav{
    background-color: white;
}

.navbar-light .navbar-brand{
    color: white;
}

.bg-light {
    background-color: white;
}

.navbar-brand {
    background-color: aquamarine;
    color: white;
}

section {
    background-color: white;
    padding-left: 5vh;
    padding-right: 5vh; 
    margin-right: 2vh;
}

.format {
    padding-top: 5vh;
    padding-left: 5vh;
}

section {
    margin-left: 5vh;
}

.aboutme {
    border-bottom: solid darkgray;
    margin-top: 5vh;
    color: aquamarine;
}

img{
    display: inline;
    float: left;
    margin-top: 5px;
}

img, p {
    margin-left: 10px;
    margin-right: 10px;
}

