
body{
    background-color: aliceblue;
}

header{
    background-color: white;
    height: 100px;
    width: 100%;
    border: solid gray;
    margin-top: 0%;
}

.maeve {
    color: white;
    background-color: aquamarine;
    width: 300px;
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    padding: 2px;
}

li a {
    display: inline-block;
    color: gray;
    text-align: center;
    text-decoration: none;
    padding: 2px;
    margin-top: 0px;
    padding-top: 0px;
}

/* .about, .portfolio, .contact {
    color: gray;
    float: right;
    display: inline;
    padding: 2px;
}

.about{
    padding-right: 10px;
} */ 

section{
    background-color: white;
    color: darkgray;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    padding: 5px;
}

.aboutme, .portfolio, .contact {
    color: aquamarine;
    border-bottom: solid darkgray;
}

img{
    display: inline;
    float: left;
    margin-top: 5px;
}

img, p {
    margin-left: 10px;
    margin-right: 10px;
}


/* Contact Form  */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/* Portfolio Page  */

/* Container needed to position the button. Adjust the width as needed */

.portfoliosection {
    height: 300px;
}

.resume {
    display: inline-block
}

.container {
    position: relative;
    width: 50%;
  }

  
  /* Make the image responsive */
  .container img {
    width: 150px;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 75px;
    left: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }

.container2 .btn2 {
    position: absolute;
    top: 75px;
    left: 400px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer, .push {
  height:50ox;
}

.footer {
  background-color: aquamarine;
}